Thumbs.db
Desktop.ini

.DS_Store

/Library
/Temp
/obj
/Build
/Builds
/ARkitRemoteIOS
/Assets/Images/algomystic_logo*
/Assets/UnityARKitPlugin
/Assets/UnityARKitPlugin.meta
_ReSharper*/
.vs/
Logs/
UserSettings/

*.csproj
*.unityproj
*.sln
*.pidb
*.userprefs
.vsconfig
